.DS_Store

# editor files
.vscode/*
.idea/*

# Independent nested Git repositories
/repositories/pcm-frontend-templates/
/repositories/pcm-python-templates/

# Playwright
.playwright-mcp/
.playwright-cli/